@model IEnumerable<VRS3LOGIN_AUTHENTICATION.Models.SurveyQuetionsModels>


@{
    ViewData["Title"] = "Index";
  
}

<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2> Existing Survey <b><i class="fa-brands fa-quora"></i>uetions</b></h2></div>
                    <div class="col-sm-4">
                       
                        
                        <div class="search-box">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <input type="text" class="form-control" placeholder="Search&hellip;">
                        </div>
                        
                    </div>
                    <div class="col-sm-3">
                        <a onclick="showInPopUp('@Url.Action("AddOrEdit","SurveyQuetions",null,Context.Request.Scheme)','Add Quetion')" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add <i class="fa-brands fa-quora"></i>uetions</a>
                    </div>
                </div>
            </div>

            @await Html.PartialAsync("_SQAllPartial", Model)

            <div class="clearfix">
                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item active"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>