@model IEnumerable<VRS3LOGIN_AUTHENTICATION.Models.SurveyManagerModel>

@{
    ViewData["Title"] = "liveSurvey";
}


       @* 
                @Html.DisplayFor(modelItem => item.surveyName)
            
                @Html.DisplayFor(modelItem => item.Quetions)
            
       *@
 


<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                          Mental Health Survey
            </button>
        </h2>
        @foreach (var item in Model)
        {
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                    @Html.DisplayFor(modelItem => item.Quetions)

            </div>
        </div>
        }
    </div>
   
</div>

 

